@import 'styles/Post.css';
@import 'styles/PostList.css';
@import 'styles/SubRedditList.css';
@import 'styles/Card.css';
@import 'styles/Header.css';
@import 'styles/PostComments.css';
@import 'styles/Elements.css';

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    'header header header header header'
    'left left main main right'
    'footer footer footer footer footer';
  column-gap: 1rem;
}

.grid-container header {
  grid-area: header;
}

.grid-container main {
  grid-area: main;
}

.grid-container aside {
  grid-area: right;
}

.grid-container footer {
  grid-area: footer;
}
